@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="banner">
        <img src="https://th.bing.com/th?id=OIF.E2afqsljNQdNYtG9s%2bWk1Q&pid=ImgDet&rs=1 " />
    </div>
    <div id="main">
        <div id="left">
            <div id="Remix">
                <h1>
                    Danh Sách Truyện:
                </h1>
                <ul>
                    <li>
                        <a href="https://www.bing.com/images/search?view=detailV2&ccid=MQyEFUOn&id=77A00234211D89938C4F7343DC4753F3DF27C487&thid=OIP.MQyEFUOnbwSFuD9n3ooc_AHaKh&mediaurl=https%3a%2f%2fbookbuy.vn%2fRes%2fImages%2fProduct%2ftranh-truyen-dan-gian-viet-nam-(2012)-cay-tre-tram-dot_15350_13393.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.310c841543a76f0485b83f67de8a1cfc%3frik%3dh8Qn3%252fNTR9xDcw%26pid%3dImgRaw%26r%3d0&exph=710&expw=500&q=truy%e1%bb%87n+tranh&simid=608002807773752464&FORM=IRPRST&ck=5CF5302B300CD96EB43F7FF967BC9640&selectedIndex=17" target="_blank"><img src="https://bookbuy.vn/Res/Images/Product/tranh-truyen-dan-gian-viet-nam-(2012)-cay-tre-tram-dot_15350_13393.jpg" width="800px" height="300px"></a>
                        <h2>
                            Tên truyện: Cây tre trăm đốt<br />
                            
                        </h2>
                    </li>

                    <li>
                        <a href="https://www.bing.com/images/search?view=detailV2&ccid=XE%2bfRhHE&id=76AA0E437B6B50040AD2F40421487993DD72D713&thid=OIP.XE-fRhHEeIuqeDgY9XrkPAHaK1&mediaurl=https%3a%2f%2ftruyenkinhdien.com%2fwp-content%2fuploads%2f2021%2f01%2ftruyen-tranh-shin.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.5c4f9f4611c4788baa783818f57ae43c%3frik%3dE9dy3ZN5SCEE9A%26pid%3dImgRaw%26r%3d0&exph=1170&expw=800&q=truy%e1%bb%87n+tranh&simid=608024338444147917&FORM=IRPRST&ck=A92E823A321B5102B0D795AA26EA6E5A&selectedIndex=20" target="_blank"><img src="https://truyenkinhdien.com/wp-content/uploads/2021/01/truyen-tranh-shin.jpg" width="800px" height="1500px"></a>
                        <h2>
                            Tên truyện: Cu Shin<br />
                            
                        </h2>
                    </li>

                    <li>
                        <a href="https://www.bing.com/images/search?view=detailV2&ccid=RcaLy2HZ&id=364660F03472A59FA41E7EF9668049006EEC1DE4&thid=OIP.RcaLy2HZ8FuTSkqmQb3qSgAAAA&mediaurl=https%3A%2F%2Fcdn-us.anidb.net%2Fimages%2Fmain%2F259057.jpg&cdnurl=https%3A%2F%2Fth.bing.com%2Fth%2Fid%2FR.45c68bcb61d9f05b934a4aa641bdea4a%3Frik%3D5B3sbgBJgGb5fg%26pid%3DImgRaw%26r%3D0&exph=561&expw=400&q=truy%e1%bb%87n+%c4%91%e1%ba%a5u+ph%c3%a1+th%c6%b0%c6%a1ng+khung&simid=608006699013778294&form=IRPRST&ck=F32D15CC9CDE6A956AB135E46332B906&selectedindex=0&ajaxhist=0&ajaxserp=0&pivotparams=insightsToken%3Dccid_mlJm5ZOs*cp_D2A082FF5A3D80B72782040968EA5199*mid_2BB285D7723F23A10DB13C519786F227156003A5*simid_608032185350756695*thid_OIP.mlJm5ZOs-rBgtdYUDCkf9QAAAA&vt=0&sim=11&iss=VSI&ajaxhist=0&ajaxserp=0" target="_blank"><img src="https://cdn-us.anidb.net/images/main/259057.jpg width="800px" height="800px"></a>
                        <h2>
                            Tên truyện: Đấu phá thương Khung<br />
                            
                        </h2>
                    </li>

                    
                </ul>
            </div>
        </div>
        <div id="right">
            <div class="menu_right">
                <h3>Danh sách các thể loại</h3>
                <ul>
                    <li><a href="#Remix">Thể Loại</a></li>
                    <li><a href="#NhacTre">Tên Truyện</a></li>
                    <
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
